body {
    overflow: hidden;
    height: 100vh;
    background: #e9e9e9;
    color: #666666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container{
    width: 100%;
    height: 100%;
}

#react-app{
    width: 100%;
    height: 100%;
}